<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="result-container">
        <h1>Prediction Result</h1>
        <p>Your health status has been analyzed based on the information you provided.</p>

        <div class="result">
            <p style="color: red;"><strong>Outcome:</strong > {{ outcome }}</p>
            <p style="font-weight: bolder;">sent alert to staff....</p>
        </div>  

        <button onclick="window.location.href='/'">Go Back to Form</button>
    </div>

</body>